@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	/* typefaces */
	--heading: "Bricolage Grotesque", sans-serif;
	--body: "Nunito Sans", sans-serif;

	/* colors */
	--primary-teal: #10dfe1;
	--primary-blue: #23385e;
	--primary-white: #fbfbfb;

	--neutral-100: #ffffff;
	--neutral-200: #f6f8fa;
	--neutral-300: #e2e4e9;
	--neutral-400: #cdd0d5;
	--neutral-500: #868c98;
	--neutral-600: #525866;
	--neutral-700: #31353f;
	--neutral-800: #161922;
	--neutral-900: #0a0d14;
	--error-100: #fdedf0;
	--error-200: #f8c9d2;
	--error-300: #df1c41;
	--error-400: #af1d38;
	--error-500: #710e21;
	--warning-100: #fef7ec;
	--warning-200: #fbdfb1;
	--warning-300: #f2ae40;
	--warning-400: #b47818;
	--warning-500: #693d11;
}

::-webkit-scrollbar {
	width: 0;
}

::-ms-scrollbar {
	display: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scrollbar-width: none;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #b7f5f6;
	background-image: url(/assets/images/noise.png);
	background-position: 0 0;
	background-size: 200px 200px;
	color: var(--neutral-900);
	overflow-x: hidden;
	width: 100%;
	transition: colors 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
	-webkit-transition: colors 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition: colors 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
}

img {
	image-rendering: crisp-edges -moz-crisp-edges;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading);
}

a,
p,
span,
button {
	font-family: var(--body);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	-webkit-text-fill-color: hsl(var(--foreground));
	-webkit-box-shadow: 0 0 0px 1000px hsl(var(--background)) inset;
	transition: background-color 5000s ease-in-out 0s;
}

input:autofill {
	background-color: hsl(var(--background)) !important;
	color: hsl(var(--foreground)) !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

label {
	color: var(--neutral-800);
	font-size: 14px;
	font-weight: 500;
}

.link {
	width: fit-content;
	position: relative;
}

.link::before {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	height: 2px;
	background: var(--primary-teal);
	transition: width 0.7s cubic-bezier(0.25, 1, 0.5, 1);
	-moz-transition: width 0.7s cubic-bezier(0.25, 1, 0.5, 1);
	-webkit-transition: width 0.7s cubic-bezier(0.25, 1, 0.5, 1);
}

.link.white::before {
	background: #fff;
}

.link.black::before {
	background: #000;
}

@media (hover: hover) and (pointer: fine) {
	.link:hover::before {
		left: 0;
		right: auto;
		width: 100%;
	}
}

/* lexical */
.editor {
	width: 100%;
	height: calc(100% - 36px);
	border: 1px solid var(--neutral-300);
	border-radius: 4px;
	padding: 8px 4px;
	font-size: 16px;
	color: var(--neutral-700);
	transition: color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
	-moz-transition: color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
	-webkit-transition: color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.editor:focus {
	outline: none;
	border-color: var(--neutral-900);
}

.editor .heading-1 {
	font-size: 36px;
	font-weight: 700;
}

.editor .heading-2 {
	font-size: 32px;
	font-weight: 700;
}

.editor .heading-3 {
	font-size: 28px;
	font-weight: 600;
}

.editor .heading-4 {
	font-size: 24px;
	font-weight: 600;
}

.editor .heading-5 {
	font-size: 20px;
	font-weight: 500;
}

.editor .heading-6 {
	font-size: 18px;
	font-weight: 500;
}

.editor .image {
	max-width: 100%;
}

.editor .list-number {
	list-style-type: decimal;
	margin-left: 24px;
}

.editor .list-bullet {
	list-style-type: disc;
	margin-left: 24px;
}

.editor .list-bullet .listitem,
.editor .list-number .listitem {
	display: list-item;
}

.editor .text-bold {
	font-weight: bold;
}

.editor .text-italic {
	font-style: italic;
}

.editor .text-underline {
	text-decoration: underline;
}

.editor .text-line-through {
	text-decoration: line-through;
}

.editor .text-subscript {
	vertical-align: sub;
}

.editor .text-superscript {
	vertical-align: super;
}

.editor .text-highlight {
	background-color: yellow;
	color: var(--neutral-900);
}

.html-content {
	line-height: 1.5;
	font-size: 17px;
}

.html-content a {
	font-weight: 600;
	text-decoration: underline;
}
